<p>
  This set of workshops is designed to teach good software development
  practice to the students of the X-Division Computational Physics
  Summer School as well as other students, post-docs and staff from Los
  Alamos National Laboratory. Some funding for these lessons has been
  provided by the Advanced Simulation and Computing project.
  <br>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  This hands-on workshop will cover basic concepts and tools,
  including program design, version control, data management,
  and task automation.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>

<p>
  The instructors will be practicing their lectures in classroom 230
  as follows:<ul>
    <li> Python starting at 13:00 on Monday June 4 </li>
    <li> Unix Shell starting at 9:00 Tuesday June 5 </li>
    <li> Make starting at 13:00 Tuesday June 5 </li>
    <li> Git starting at 9:00 Monday June 11 (Location TBD) </li>
      </ul>
</p>

<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
